.Header{
    background-color:#ea4e23;
    width: 100%;
    height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}

.Header .Logo{
    height: auto;
    width: 22%;
    padding-right: 28px;
}